// COLORS
$color-white-primary: #fff;
$color-white-secondary: #e5f4ff;
$color-white-tertiary: #eeeeee;

$color-green-primary:#3c9d3c;

$color-black-primary: #000;
$color-black-secondary: #282828;
$color-black-tertiary: #4e4e4e;

$color-blue-primary: #034da2;

$color-grey-primary: #ccc;
$color-grey-secondary: #d2d0d1;


$color-yellow: #fef200;


// FONT
$default-font-size: 1.6rem;