#footer {
    background: $color-black-primary;
    padding: 3rem;

    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6a6a6a;

        // Screen width <=phone width
        @include respond-mediaQuery(phone) {
            flex-flow: column;
        }

        .footer-socialmedia {
            display: flex;
            margin-right: 5rem;

            // Screen width <=phone width
            @include respond-mediaQuery(phone) {
                margin: 0 0 2rem 0;
            }

            svg {
                margin-right: 0.5rem;
                color: #6a6a6a;
                @include border-radius-lg;
                width: 3rem;
                height: 3rem;
                border: 1px solid;
                padding: 0.8rem;
            }
        }

    }
}